* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --color-primary: #fffaff;
    --color-secondary: #6f6b6f;
    --color-text: #0C0C0C;
    --color-success: #156815;
    --color-error: #b10f0f;

    --font-title: serif;
    --font-paragraph: sans-serif;
    --font-link: serif;
    --font-button: serif;

    --container-max-width: 1000px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
}

main {
    max-width: var(--container-max-width);
    padding: 10px;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
}

h1, h2, h3 {
    font-family: var(--font-title);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

p, a {
    font-size: 1em;
}

p {
	font-family: var(--font-paragraph);
	line-height: 1.5em;
}

a {
	color: var(--color-secondary);
    font-family: var(--font-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3, label, textarea {
    	font-size: 1em;
    }

    p, a, button, input, .message {
        font-size: 0.9em;
    }
}
