* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --color-primary: #f8f8f8;
    --color-secondary: #333333;
    --color-text: #0C0C0C;
    --color-success: #388e3c;
    --color-error: #d32f2f;

    --font-title: serif;
    --font-paragraph: sans-serif;
    --font-link: serif;
    --font-button: serif;

    --container-max-width: 1000px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
}

main {
    max-width: var(--container-max-width);
    padding: 10px;
    margin: 1em auto;
    min-height: calc(100vh - 200px);
}

hr {
    color: var(--color-secondary);
    margin: 1em 0;
}

h1, h2, h3 {
    font-family: var(--font-title);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

p, a {
    font-size: 1em;
}

p {
	font-family: var(--font-paragraph);
	line-height: 1.5em;
}

a {
	color: var(--color-secondary);
    font-family: var(--font-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

figure {
    width: 100%;
}

img {
    width: 100%;
}

button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: bold;
    padding: 0 1.5em;
    min-width: 3em;
    min-height: 3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
    padding: 1em;
}

label {
    font-size: 1.3em;
    font-family: var(--font-paragraph);
    width: 100%;
}

input {
    width: 100%;
    font-size: 0.8em;
}

textarea {
    width: 100%;
    min-height: 10em;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3, label, textarea {
    	font-size: 1em;
    }

    p, a, button, input, .message {
        font-size: 0.9em;
    }

    label {
        font-size: 1em;
    }
}
