.password_update > form > div {
    color: var(--color-error);
}

.password_update > form > div > ul {
    padding-left: 2em;
}

.password_update h1, .password_update hr {
    max-width: calc(var(--container-max-width) / 1.5);
    margin-left: auto;
    margin-right: auto;
}

.password_update form {
    max-width: calc(var(--container-max-width) / 1.5);
    padding: 2em;
    margin: 0 auto;
    border: 1px solid var(--color-secondary);
}
