.footer {
    background-color: var(--color-secondary);
}

.footer div {
    max-width: var(--container-max-width);
    color: var(--color-primary);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer a {
    color: var(--color-primary);
}
